<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="defaultCredentialsMatcher" class="com.framework.shiro.credential.DefaultCredentialsMatcher">
        <property name="hashAlgorithmName" value="MD5"/>
        <property name="hashIterations" value="10"/>
        <property name="storedCredentialsHexEncoded" value="false"/>
    </bean>
    <bean id="rightsAuthorizingRealm" class="com.framework.shiro.realms.PermissionAuthorizingRealm">
        <!--自定义验证方法-->
        <property name="credentialsMatcher" ref="defaultCredentialsMatcher"/>
        <property name="authenticationCachingEnabled" value="false"/>
        <property name="authorizationCachingEnabled" value="false"/>
    </bean>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="rightsAuthorizingRealm"/>
    </bean>


    <bean id="preFilters" class="com.framework.shiro.filters.PreFilters"/>

    <!-- 退出登录过滤器 -->
    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="/public/logout.html"/>
    </bean>


    <!-- 配置shiro过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/public/login.html"/>
        <property name="successUrl" value="/error/index.html"/>
        <property name="unauthorizedUrl" value="/error/unauthorized.html"/>
        <property name="filters">
            <util:map>
                <!-- <entry key="authc" value-ref="formAuthenticationFilter"/>-->
                <entry key="logout" value-ref="logoutFilter"/>
            </util:map>
        </property>
        <!--roles authc：该过滤器下的页面必须验证后才能访问,它是Shiro内置的一个拦截器org.apache.shiro.web.filter.authc.FormAuthenticationFilter -->
        <property name="filterChainDefinitions">
            <value>
                <!--资源文件 验证码 登出-->
                /resources/** = anon
                /error/**=anon
                /logout = logout
                /public/**=anon

                /admin/**=authc,perms[user]
            </value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!--支持注解 权限-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


</beans>